apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  namespace: default
  name: {{ default_storageclass_name }}
  annotations:
    storageclass.kubernetes.io/is-default-class: "false"
provisioner: {{ default_storageclass_name }}
parameters:
  archiveOnDelete: "true"
mountOptions:
  - nfsvers=4